body{
   background:#38bffd ;
  }


.plase{
  background-color: #d0ecf8;
}
.conteiner1{
  background-color: #38bffd;
}
.conteiner1,
.fa-volume-mute{
    display: none;
}
.fa-volume-up:focus{
    box-shadow: 3px 3px 5px rgb(255, 0, 0); 
}
.fas{
  cursor: pointer;
}

.conteiner{
  background: rgb(255, 255, 255);
  padding: 0;
  margin: auto;
  max-width: 1000px;
  height: 100vh;
  box-shadow: 0px 0px 50px darkblue;
}

.fa-star{
  color: yellow;
}

.score{
  justify-content: center;
  background: gold;
  border-radius: 0 0 50px 50px;
  border: 2px solid rgba(77, 40, 242, 0.5);
}