body {
  background: #38bffd;
  font-size: 10px;
}

/* First page */

.container{
  background-color: #38bffd;
  height: 100vh;
}

.none{
 display: none;
}

.flex{
 display: flex;
}

.fa-volume-up:focus {
  box-shadow: 3px 3px 5px rgb(255, 0, 0);
}

.fas {
  cursor: pointer;
  width: 35px;
}

/* Page with game place */

.container_game {
  grid-template-rows: 1fr ;
  grid-template-columns: 3fr  1fr;
  background: rgb(144, 252, 232);
  padding: 0;
  margin: auto;
  max-width: 80%;
  height: 100vh;
  box-shadow: 0px 0px 5rem darkblue;
}

.place {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:  80%;
  background: url("Rock.png") no-repeat;
  background-size: cover;
  overflow: hidden;
}

.place_down {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.drops {
  display:grid;
  grid-template-areas: "operation number1"
                       "operation number1";
  grid-template-rows: 1fr ;
  grid-template-columns: 30%  1fr;
  background:  #38bffd;
  height: 4rem;
  width: 4rem;
  font: bold 1.5rem Arial, sans-serif;
  border: 4px solid rgba(77, 40, 242, 0.5);
  border-radius: 50% 50% 50% 50%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  z-index: 0;
}

.run {
  animation-name: drop;
  animation-timing-function: linear;
}

@keyframes drop {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(350px);}
  100% { transform: translateY(700px);}
}

/* water */

.circle {
  height: 300px;
  width: 1300px;
  position: relative;
  transform: translate(0, 0);
}

.circle_helper{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.circle .water {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  background: #4D6DE3;
}
.circle .water_wave {
  width: 200%;
  position: absolute;
  bottom: 100%;
}
.circle .water_wave_back {
  right: 0;
  fill: #8cd2f0;
  -webkit-animation: wave-back 1.4s infinite linear;
          animation: wave-back 1.4s infinite linear;
}
.circle .water_wave_front {
  left: 0;
  fill: #4D6DE3;
  margin-bottom: -1px;
  -webkit-animation: wave-front 2s infinite linear;
          animation: wave-front 2s infinite linear;
}

@-webkit-keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
@-webkit-keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}
@keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}

/* end water */

.operation{
  text-align: center;
  vertical-align: center;
  margin-top: 12px;
  margin-bottom: 0;
}

.number1,
.number2 {
  margin: 0;
  text-align: center;
}


.fa-star {
  color: yellow;
}

.score {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: gold;
  border-radius: 0 0 5rem 5rem;
  border: 0.2rem solid rgba(77, 40, 242, 0.5);
}

.tools {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 0.5rem;
  margin: 0;
  border-left: o.2rem solid rgba(77, 40, 242, 0.5);
}

.wrapper {
  display: grid;
  margin-bottom: 2rem;
  grid-auto-rows: 4rem;
  grid-auto-columns: 4rem;
}

.box0,
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9 {
  color: rgba(51, 22, 181, 0.9);
  border: 0.2rem solid rgba(51, 22, 181, 0.9);
  font: bold 2rem Arial, sans-serif;
  border-radius: 0;
  padding: 0;
  text-align: center;
}

.boxOUT {
  font: bold 2rem Arial, sans-serif;
  text-align: end;
  color: rgba(51, 22, 181, 0.9);
  border: 0.4rem solid rgba(51, 22, 181, 0.9);
  border-bottom: 0.2rem solid rgba(51, 22, 181, 0.9);
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.boxCL {
  color: rgba(51, 22, 181, 0.9);
  border: 0.2rem solid rgba(51, 22, 181, 0.9);
  border-right: 0.4rem solid rgba(51, 22, 181, 0.9);
  border-radius: 0;
  padding: 0;
  font: bold 0.9rem Arial, sans-serif;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.boxENT {
  color: rgba(51, 22, 181, 0.9);
  border: 0.2rem solid rgba(51, 22, 181, 0.9);
  border-right: 0.4rem solid rgba(51, 22, 181, 0.9);
  border-radius: 0;
  padding: 0;
  font: bold 0.9rem Arial, sans-serif;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
}

.box0 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

.boxDEL {
  color: rgba(51, 22, 181, 0.9);
  border: 0.2rem solid rgba(51, 22, 181, 0.9);
  padding: 0;
  border-radius: 0;
  font: bold 0.8rem Arial, sans-serif;
}

.box0,
.box7,
.box4,
.box1 {
  border-left: 0.4rem solid rgba(51, 22, 181, 0.9);
}

.box0,
.boxDEL,
.boxENT {
  border-bottom: 0.4rem solid rgba(51, 22, 181, 0.9);
}

/* Screen resolution for 820 */
@media screen and (max-width: 820px) {
  .container_game {
    max-width: 90%;
  }
}
/* Screen resolution for Tablet */

@media screen and (max-width: 767px) {
  .container_game {
    margin: 0;
    max-width: 100%;
  }

  .tools {
    margin: 0;
    padding: 0;
  }

  .score {
    font-size: 0.4rem;
    border: 0.1rem solid rgba(77, 40, 242, 0.5);
  }

  h2 {
    font-size: 1rem;
  }

  .wrapper {
    display: grid;
    width: 93%;
    padding: 0;
    margin-left: 0;
    margin-bottom: 5rem;
    grid-auto-rows: 2.5rem;
    grid-auto-columns: 2.5rem;
  }

  .box0,
  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6,
  .box7,
  .box8,
  .box9 {
    color: rgba(51, 22, 181, 0.9);
    border: 0.1rem solid rgba(51, 22, 181, 0.9);
    font: bold 1rem Arial, sans-serif;
  }

  .boxCL,
  .boxENT,
  .boxDEL {
    border: 0.1rem solid rgba(51, 22, 181, 0.9);
    font: bold 0.6rem Arial, sans-serif;
  }

  .box0,
  .box7,
  .box4,
  .box1 {
    border-left: 0.2rem solid rgba(51, 22, 181, 0.9);
  }

  .box0,
  .boxDEL,
  .boxENT {
    border-bottom: 0.2rem solid rgba(51, 22, 181, 0.9);
  }

  .boxOUT {
    font: bold 1.5rem Arial, sans-serif;
    border: 0.2rem solid rgba(51, 22, 181, 0.9);
    border-bottom: 0.1rem solid rgba(51, 22, 181, 0.9);
  }

  .boxENT,
  .boxCL {
    border-right: 0.2rem solid rgba(51, 22, 181, 0.9);
  }
}

@media screen and (max-width: 360px) {
  .container_game {
    grid-template-areas: "place"
                         "tools";
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr;
  }
  .plase {
    grid-area: "place";
  }

}
